<%- include ../partials/header.ejs %>

  <h1 class="welcome">Welcome to Contacts!</h1>

  <div class="member-entry">
    <a href="users/login"><button class="login">Login</button></a>
    <a href="users/signup"><button class="signup">Signup</button></a>
  </div>
<%- include ../partials/footer.ejs %>
