<%- include ../partials/header.ejs %>

  <h1>Welcome to Contacts!</h1>

  <div class="contact-list">
    <a href="users/login"><button class="login">Login</button></a>
    <a href="users/signup"><button class="login">Signup</button></a>
  </div>
<%- include ../partials/footer.ejs %>
